<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.images = {
    black_icon: "<%= asset_path("black-icon.png") %>",
    white_icon: "<%= asset_path("white-icon.png") %>",
    spook: "<%= asset_path("spook.png") %>",
    linkedin: "<%= asset_path("linkedin.png") %>",
    github: "<%= asset_path("github.png") %>",
    playlist: "<%= asset_path("playlist-image.png") %>"
  }
</script>

<div id="root">
  Spookify
</div>
